---
import type { IMarkdownMeta } from '@/IMarkdownMeta';
import { BlogPost } from '@/partials/BlogPost';
import { CTA } from '@/partials/CTA';
import { Shield } from '@/partials/Shield';
import { StoreLink } from '@/partials/StoreLink';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  content: IMarkdownMeta;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;

// Type guard to check if a value is a string
const isString = (value: any): value is string => typeof value === 'string';
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <div style='width: 100%; display: flex; flex-direction: column;'>
      <div style='width: 100%; margin-top: -20px'>
        {content.shields.map((shieldUrl, _index) =>
          isString(shieldUrl) ? <Shield url={shieldUrl} /> : null
        )}
      </div>
      <div style='text-align: center;'>
        <br /><b>{content.description}</b><br /><br />
      </div>
      <div style='width: 100%; text-align: center;'>
        {isString(content.gitHubUrl) ? (
          <StoreLink
            src="/assets/images/icons/github-mark-white.png"
            url={content.gitHubUrl}
          />
        ) : null}
        {isString(content.playStoreUrl) ? (
          <StoreLink
            src="/assets/images/icons/google-play-badge.svg"
            url={content.playStoreUrl}
          />
        ) : null}
        {isString(content.itchUrl) ? (
          <StoreLink
            src="/assets/images/icons/itch-badge-color.svg"
            url={content.itchUrl}
          />
        ) : null}
      </div>
    </div>

    <br />
    <slot></slot>
  </BlogPost>

  <CTA />
</Base>
