---
import { NavbarTwoColumns } from 'astro-boilerplate-components';

import type { IMarkdownMeta } from '@/IMarkdownMeta';
import { BlogPost } from '@/partials/BlogPost';
import { CTA } from '@/partials/CTA';
import { Shield } from '@/partials/Shield';
import { StoreLink } from '@/partials/StoreLink';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  content: IMarkdownMeta;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;

// Type guard to check if a value is a string
const isString = (value: any): value is string => typeof value === 'string';
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <NavbarTwoColumns>
      <div style='max-width: 60%;'>
        {content.shields.map((shieldUrl, _index) =>
          isString(shieldUrl) ? <Shield url={shieldUrl} /> : null
        )}
      </div>
      <div>
        {isString(content.itchUrl) ? (
          <StoreLink
            src="/assets/images/icons/itch-badge-color.svg"
            url={content.itchUrl}
          />
        ) : null}
        {isString(content.gitHubUrl) ? (
          <StoreLink
            src="/assets/images/icons/github-mark-white.png"
            url={content.gitHubUrl}
          />
        ) : null}
      </div>
    </NavbarTwoColumns>

    <br /><br />
    <slot></slot>
  </BlogPost>

  <CTA />
</Base>
